venv
.env
__pycache__
violence-detection-4
trained-model
annotated
uploads
node_modules
model-testing.txt
Faster_R_CNN_violence_detection_copy.ipynb
vhd11k annotation
LSPD_trained_model
test.py
LSPD_trained_models
fasterrcnn_resnet50_epoch_3.pth
vhd11k-trained-model
vhd11k-annotation-new
NSFW_FRCNN_Detection.ipynb
lspd-vhd11k-trained
updated-trained-model
vhd11k-dataset.v3i.coco.zip