# Virtual environment
venv

# Environment variables
.env

# Python cache
__pycache__

# Node modules
node_modules

# Model weights
models/fasterrcnn_resnet50_epoch_5.pth
models/RealESRGAN_x4plus.pth
models/RealESRGAN_x2.pth

# Images
annotated
uploads

# Test files
test_esrgan.py
test.py
guided_diffusion
guided_diffusion copy
real_esrgan copy
test_purify.py
run.py
