# Use this if you want to use the system locally but if you want to use it in Modal, just run 
# modal serve main.py

# Web framework
flask
flask-wtf

# Machine Learning
# torch
# torchvision
pillow
opencv-contrib-python-headless
tensorflow
numpy
scipy

# Environment variables
python-dotenv

# File handling
werkzeug

# Diffusion 
tqdm
blobfile
xformers

# Hugging Face
huggingface_hub

# For performance
accelerate
modal

# Image processing
scikit-image
transformers