<div class="bg-primary container-fluid p-3">
  <h5 class="text-end text-light">Welcome {{ username }}!!</h5>
</div>

{% extends "base.html" %} {% block main %}
<div class="m-auto border rounded p-4 w-50 mt-5 shadow">
  <h1 class="text-center mb-3">Content Moderation</h1>

  {% with messages = get_flashed_messages() %} {% if messages %}
  <div class="alert alert-danger mt-2">{{ messages[0] }}</div>
  {% endif %} {% endwith %}

  <form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="row p-4">
      <div class="d-flex gap-3">
        <div class="col-auto">
          {{ form.media.label(class="form-label", for="upload") }}
        </div>
        <div class="col mb-4">
          {{ form.media(class="form-control"+ (" is-invalid" if
          form.media.errors else ""), id="upload", placeholder="Choose a
          file")}} {% for error in form.media.errors %}
          <div class="invalid-feedback d-block">* {{error}}</div>
          {%endfor%}
        </div>
      </div>

      <div class="col-md-12">
        {{ form.submit(class="btn btn-primary w-100") }}
      </div>
    </div>
  </form>
</div>
{% endblock %}
