<div class="card p-2 mb-3 mt-3">
  <div class="card-body">
    <div class="d-flex align-items-start">
      <img
        src="https://i.pinimg.com/736x/06/c5/34/06c53402078b109af7bb0e1b2d8bfcba.jpg"
        alt="profile_pic"
        class="rounded-circle me-2"
        style="width: 40px; height: 40px; object-fit: cover"
      />

      <!-- Username -->
      <div class="w-100">
        <p class="username" class="mb-0 fw-semibold">Username</p>
      </div>
    </div>
    <form method="POST" action="#" novalidate class="mt-3">
      {{ form.hidden_tag() }} {{ form.description(class="form-control mb-3" +("
      is-invalid" if form.description.errors else ""), id="description",
      placeholder="Enter description")}}
      <div class="d-flex justify-content-end align-items-end">
        <label
          for="upload"
          style="
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            gap: 8px;
          "
        >
          <!-- SVG icon -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-image-icon lucide-image"
          >
            <rect width="18" height="18" x="3" y="3" rx="2" ry="2" />
            <circle cx="9" cy="9" r="2" />
            <path d="m21 15-3.086-3.086a2 2 0 0 0-2.828 0L6 21" />
          </svg>

          {{ form.media(class="form-control mb-4 d-none" + (" is-invalid" if
          form.media.errors else ""), id="upload") }}
          <span>Choose a file</span>
        </label>
      </div>

      <div class="d-flex justify-content-end mt-2">
        {{ form.submit(class="btn btn-primary w-50 align-items-end") }}
      </div>
    </form>
  </div>
</div>
