{% extends 'base.html' %} {% block main %}
<div class="m-auto border rounded p-5 w-50 mt-5">
  <h1 class="text-center mb-3">Sign In</h1>

  {% with messages = get_flashed_messages() %} {% if messages %}
  <div class="alert alert-danger mt-2">{{ messages[0] }}</div>
  {% endif %} {% endwith %} 
 
  <form method="POST" class="needs-validation" novalidate>
    {{ form.hidden_tag() }}
    <div class="row mb-3">
      <div class="col-md-12 mb-3">
        {{ form.username.label(class="form-label", for="username")}} <br />
        {{form.username (class="form-control" + ("
        is-invalid" if form.username.errors else ""), id="username",
        placeholder="Enter your username")}} {% for error in
        form.username.errors %}
        <div class="invalid-feedback d-block">* {{error}}</div>
        {%endfor%}
      </div>
      <div class="col-md-12 mb-3">
        {{ form.password.label(class="form-label", for="password")}} <br />
        {{ form.password (class="form-control" + ("
        is-invalid" if form.password.errors else ""), id="password",
        placeholder="Enter your password") }} {% for error in
        form.password.errors %}
        <div class="invalid-feedback d-block">* {{error}}</div>
        {%endfor%}
      </div>

      <div class="col-md-2 mb-2 w-100">
        {{ form.submit(class="btn btn-primary w-100") }}
      </div>
      <a
        href="{{ url_for('routes.signUp') }}"
        class="text-decoration-none small text-center text-black"
        >Don't have an account? <span class="fw-bold">Sign Up</span></a
      >
    </div>
  </form>
</div>
{% endblock %} jk
